body::-webkit-scrollbar {
     display: none;
}

body {
    font-family: sans-serif;
    padding: 2rem;
    background-color: #111;
    color: #fff;
}

div {
    margin: 30px 0;
}

.tabSelector {
    /* width: min-content; */
    margin: 0;
    /* background-color: black; */
    display: flex;
    /* gap: 2px; */
    /* border: solid 3px black; */
    border: 1px solid #333;
}

.tabSelector > button {
    background-color: #111;
    color: #777;
    border: none;
    width: max-content;
}

.tabSelector > button:hover {
    background-color: #222;
}

.tabSelector > button.active, .tabSelector > button:focus {
  color: #fff;
}

.tabWindow {
    display: none;
    padding: 6px 12px;
    border: 1px solid #333;
    border-top: none;
    width: auto;
    margin: 0 auto;
}

button:hover, button:focus {
    outline: none;
    cursor: pointer;
}

#time {
    font-size: 1.2rem;
    color: #ccc;
    right: 10px;
    top: 0;
    position: absolute;
}

form input {
    color: #fff;
    background-color: #000;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 0;
    padding: 8px;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
}

form input:focus, form select:focus {
    /* outline: #333 solid 3px; */
    outline: none;
    background-color: #111;
}

form select {
    color: #fff;
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 8px;
    border: none;
    font-size: 16px;
}

#formRow td {
    padding: 0;
    height: calc(25px + 16px);
    position: sticky;
    top: 0;
}

/* Hide arrows of number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
}
thead > tr > th {
    text-align: center;
}
th, td {
    border: 1px solid #222;
    padding: 0.5rem;
    text-align: left;
    height: 25px;
}
th {
    background-color: #222;
}

/* Date */
td:has(#activityDate) {
    width: 170px;
}
tbody td:nth-child(1) {
    /* padding: 0; */
    text-align: center;
    /* width: min-content; */
}

/* Type */
td:has(#activityType) {
    width: 140px;
}

/* Amount */
td:has(#activityAmount) {
    width: 80px;
}
tbody td:nth-child(3), #activityAmount {
    /* padding: 0; */
    text-align: right;
    /* width: 80px; */
}

/* No padding in edit column */
tbody td:nth-child(5) {
    padding: 0;
    width: 41px;
}

.button_div {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.button_div button {
    color: #aaa;
    background-color: #111;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
}

.button_div > button:hover, .button_div > button:focus {
    /* background-color: #fbfbfb; */
    color: #fff;
    /* outline: none;
    cursor: pointer; */
}

input[type="checkbox"] {
  /* Apply styles to the checkbox itself, e.g., size, border */
  width: min-content;
  height: min-content;
  border: 1px solid #ccc;
}

#summaryChart {
    /* max-width:700px; height:400px */
    width: 100%;
}
