body {
    font-family: sans-serif;
    padding: 2rem;
    background-color: #f0f0f0;
}

div {
    margin: 30px 0;
}

#time {
    font-size: 1.2rem;
    color: #333;
    right: 10px;
    top: 0;
    position: fixed;
}

/* form input[type=number] {
    width: 60px;
} */

form input {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 0;
    padding: 8px;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
}

form input:focus, form select:focus {
    /* outline: #333 solid 3px; */
    outline: none;
    background-color: #fbfbfb;
}

form select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 8px;
    border: none;
    font-size: 16px;
}

#formRow td {
    padding: 0;
    height: calc(25px + 16px);
}

/* Hide arrows of number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
}
thead > tr > th {
    text-align: center;
}
th, td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
    height: 25px;
}
th {
    background-color: #f2f2f2;
}

/* Date */
td:has(#activityDate) {
    width: 170px;
}
tbody td:nth-child(1) {
    /* padding: 0; */
    text-align: center;
    /* width: min-content; */
}

/* Type */
td:has(#activityType) {
    width: 100px;
}

/* Amount */
td:has(#activityAmount) {
    width: 80px;
}
tbody td:nth-child(3), #activityAmount {
    /* padding: 0; */
    text-align: right;
    /* width: 80px; */
}

/* No padding in edit column */
tbody td:nth-child(5) {
    padding: 0;
    width: 41px;
}

.button_div {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.button_div button, #submitActivity {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
}

button:hover, button:focus {
    /* background-color: #fbfbfb; */
    color: #666;
    outline: none;
    cursor: pointer;
}

